
    *{ 
        
        margin: 0;
    }
     .main{
        display: grid;
        grid-template-rows: 2fr repeat(5,1fr);
        grid-template-columns:  repeat(4,1fr) ;
        border: 1px solid black;
        
     }
     .first{
        grid-column:span 4 ;
        align-content: space-around;
        text-align:end;
     }
     
     button{
        height: 60px;
       border: 1px solid black;  
       text-align: center; 
       align-content: center;  

     }
    
     .b{
        grid-column:span 2 ;
     }
     .c{
        grid-column:span 2 ;
     }